<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/logout"><button>Log Out</button></a> | <a href="/success"><button>Go Back</button></a>
    <br>
    <h1>Welcome, {{loggedinuser.firstname}}</h1>
    <h2>Edit My Account</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{message}}</p>
        {% endfor %}
    {% endif %}
    <br>
    <br>
    <form action="/edit/{{loggedinuser.id}}/update" method="post">
        {% csrf_token %}
        <p>First Name: <input type="text" name="firstname" value="{{loggedinuser.firstname}}" id=""></p>
        <p>Last Name: <input type="text" name="lastname" value="{{loggedinuser.lastname}}" id=""></p>
        <p>Email: <input type="text" name="email" value="{{loggedinuser.email}}" id=""></p>
        <p><input type="submit" value="Update"></a></p>
    </form>
</body>

</html>

<!----------------------------------------------------------------->